@import '../../global/style';

body {
    background-color: #f1f5f8;
    font-family: "Roboto", sans-serif;
    color: #252a32;
}
section {
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    padding: 16px 28px;
    margin: 3% 0;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    padding: 4% 8% 3% 8%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    text-align: center;
}
main {
    margin: 0 12%;
}


#parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 100;

    div {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
    }
    div:last-of-type {
        margin-bottom: 0;
    }

    input[type=number] {
        margin-left: 8px;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }

    #submit-btn {
        width: 95px;
        height: 32px;
        background-color: #457b9d;
        border-radius: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.22);

        color: #fff;
        font-size: .6em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;

        transition: all 0.25s ease 0s;
        cursor: pointer;
        border: none;
        outline: none;
    }
    #submit-btn:active {
        transform: scale(.96);
    }
}

#nouns-list {
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        * {
            margin: 0 auto;
        }
    }
    h1 {
        display: inline;
        font-weight: 500;
        text-align: center;
        padding-bottom: 2px;
    }
    table {
        border-collapse:separate; 
        border-spacing: 6px;
    }
    tr {
        background-color: #ecf0f8;
        // margin-bottom: 8px;
    }
    .noun {
        padding: 8px 20px 6px 20px;
        margin-left: auto;
        border-radius: 6px;
    }
    .img {
        max-height: 32px;
        max-width: 32px;
        height: auto;
        width: auto;
    }
}